            * {
                margin: 0;
                padding: 0;
            }
            
            .container {
                width: 100%;
                padding: 1%;
            }
            
            .spa {
                margin-left: 3.8%;
            }
            
            article {
                width: 100%;
                height: 1%;
            }
            
            h5,
            p {
                display: inline-block;
                vertical-align: top;
                color: red;
            }
            
            article p {
                margin: 5px;
                margin-left: -0.5%;
                width: 62%;
            }
            
            .mover {
                margin-left: 4.8%;
            }
            
            .mover2 {
                margin-left: 4.7%;
            }
            
            .mover3 {
                margin-left: 3%;
            }
            
            article p span {
                margin-left: 33.5px;
                font-size: 14px;
                margin-right: 0;
            }
            
            .sp {
                margin-left: 11px;
            }
            
            .caja1 {
                width: 1%;
                height: 6%;
                display: inline-block;
                vertical-align: top;
                color: red;
                line-height: 46px;
                margin-top: 1%;
            }
            
            button {
                width: 38px;
                font-size: 8px;
                color: #3413a2;
                height: 40px;
            }
            
            span {
                font-size: 18px;
            }
            
            .caja2 {
                width: 7%;
                display: inline-block;
                vertical-align: top;
                margin-left: 2%;
                margin-top: 1%;
            }
            
            .caja2 button {
                background-color: #689bff;
                width: 40%;
            }
            
            .caja3 {
                width: 33%;
                display: inline-block;
                vertical-align: top;
                margin-top: 11%;
            }
            
            .caja3 button {
                background-color: #fd9a98;
                width: 8.7%;
                margin: 1px;
            }
            
            .boton {
                margin-right: 30px;
            }
            
            .caja4 {
                width: 20%;
                display: inline-block;
                margin-top: 1%;
            }
            
            .caja4 button {
                background-color: #fecb00;
                width: 14%;
                margin-right: 1%;
                margin-bottom: 0.2%;
            }
            
            .caja5 {
                width: 59%;
                margin: 1% 1% 0 3.2%;
            }
            
            .caja5 button {
                display: inline-block;
                width: 4.8%;
                margin-right: 0.3%;
                margin-bottom: 0.1%;
            }
            
            h6 {
                display: inline-block;
                color: red;
                width: 12.3%;
            }
            
            h6 span {
                margin-left: 21%;
                display: inline-block;
                vertical-align: top;
            }
            
            .caja5 button {
                background-color: #1fca21;
            }
            
            .boton1 {
                margin-left: 82.5%;
            }